src/main/mule/mule-cicd-testing-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="da57efc2-cb56-42c4-b66e-8fd439b32c86" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="cec5d689-deef-4ae7-9954-22f28bd25350" />
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="74c4af77-5b26-4738-908d-a80766cbd8ef" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS" >
		<oauth2-provider:token-config tokenStore="token_os" />
	</oauth2-provider:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc5d3030-adae-48c7-ae7f-ded672f5509d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-cicd-testing-projectFlow" doc:id="fa136560-a207-4238-9fe9-347c2f550930" >
		<http:listener doc:name="Listener" doc:id="f67a8328-9041-454c-9fa3-bb3da69ba500" path="/createClient" config-ref="HTTP_Listener_config"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="58805a09-e9e5-4582-9aee-aab61cfa96b1" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type="CONFIDENTIAL" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' redirectUris='#[["abc.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]' failIfPresent="true"/>
		<set-payload value='#["client created successfully!"]' doc:name="Set Payload" doc:id="e62176a5-fad0-4026-8efe-c630b78aec96" />
	</flow>
	<flow name="mule-cicd-testing-projectFlow1" doc:id="cca73674-8e17-4e1f-a580-8f794985589b" >
		<http:listener doc:name="Listener" doc:id="f9884c82-df50-4b4d-89c3-939e2d76ba51" path="/validate" config-ref="HTTP_Listener_config"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="15b2b928-24e3-4a75-a8e2-cfb13ae43411" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="bea65970-845e-4c9e-9ead-8914bb5c726a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
